body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Noto Sans SC', sans-serif;
}

:not(:defined) {
  visibility: hidden;
}

img[lazy=loading] {
  opacity: 0;
}

/* @media  (max-width: 768px) {
  h1 {
    font-size: 1.75em!important;
    line-height: 1.1111;
  } 

  h2 {
    font-size: 1.5em!important;
    margin-top: 1em!important;
    margin-bottom: 0.625em!important;
    line-height: 1.3333!important;
    font-weight: 500!important;
  }

  h3 {
    font-size: 1.3em!important;
    margin-top: 1em;
    margin-bottom: 0.625em!important;
    line-height: 1.3333!important;
    font-weight: 500!important;
  }

  h4 {
    font-size: 1.2em!important;
    margin-top: 1em!important;
    margin-bottom: 0.625em!important;
    line-height: 1.3333!important;
    font-weight: 500!important;
  }
  
} */

.mdui-prose table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin: 1.5rem 0;
  display: table;
  border: 1px solid rgba(var(--mdui-color-on-surface), 0.12);
  border-radius: var(--mdui-shape-corner-large);
  overflow: hidden;
}

.mdui-prose table tr {
  background-color: transparent;
}

.mdui-prose table tr:nth-child(2n) {
  background-color: rgba(var(--mdui-color-on-surface), 0.04);
}

.mdui-prose table th,
.mdui-prose table td {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid rgba(var(--mdui-color-on-surface), 0.12);
  border-right: 1px solid rgba(var(--mdui-color-on-surface), 0.35);
}

.mdui-prose table tr:last-child td {
  border-bottom: none;
}

.mdui-prose table tr th:last-child,
.mdui-prose table tr td:last-child {
  border-right: none;
}

.mdui-prose table th {
  font-weight: 600;
  border-bottom: 1px solid rgba(var(--mdui-color-on-surface), 0.35);
}
